{% extends "_layout.html" %} {% block title %} New Store {% endblock %} {% block
content %}
<h1>Create new store</h1>
<br />
<!-- Form starts here -->
<form action="{{ url_for('store') }}" method="POST">
  <div class="form-group">
    <label for="storeInput">Store Name</label>
    <input
      type="text"
      class="form-control"
      id="storeInput"
      name="store_name"
      placeholder="Enter store name"
    />
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
<!-- Form ends here -->
{% endblock %}
