{% extends "_layout.html" %} {% block title %} Store {% endblock %} {% block
content %}
<h1>Store Page</h1>

<br />
<!-- Display all stores starts here -->
<h2>Stores Info</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Store Name</th>
    </tr>
  </thead>
  <tbody>
    {% for store in stores %}
    <tr>
      <td>
        <a href="{{ url_for('store_id', store_id=store.id) }}">{{
          store.name
        }}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- Display all stores ends here -->
<br />
<!-- Form starts here -->
<h2>Add new store</h2>
<form action="{{ url_for('store') }}" method="POST">
  <div class="form-group">
    <label for="storeInput">Store Name</label>
    <input
      type="text"
      class="form-control"
      id="storeInput"
      name="store_name"
      placeholder="Enter store name"
    />
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
<!-- Form ends here -->
{% endblock %}
