{% extends "_layout.html" %} {% block title %} Store {% endblock %} {% block
content %}
<h1>Store Page</h1>
<br />
<!-- Display all stores starts here -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Store Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for store in stores %}
    <tr>
      <td>
        <a href="{{ url_for('edit_store', store_id=store.id) }}">{{
          store.name
        }}</a>
      </td>
      <td>
        <form
          action="{{ url_for('delete_store', store_id=store.id) }}"
          method="POST"
        >
          <button type="submit" class="btn btn-danger">
            Delete
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- Display all stores ends here -->
<br />
<!-- Form starts here -->
<form action="{{ url_for('new_store') }}" method="GET">
  <button type="submit" class="btn btn-primary">Create new store</button>
</form>
<!-- Form ends here -->
{% endblock %}
